.banner{
	background: url(../img/banner.jpg)no-repeat 0px 0px;
	background-size:cover;
	min-height: 800px;
}
.header-left a {
    padding: 2em 1em 1em;
    background: #c6c5c0;
    color: #fff;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    display: inline-block;
}
.header-left a i {
    font-size: 1em;
    color: #fff;
    left: -10px;
    top: 5px;
}
.header-left a span {
    display: block;
    font-size: 16px;
    font-style: italic;
}
.header-left{float: left;}
.header-left1{float: left; margin-left: 12em;}
.header-left1 ul li {
    display: inline-block;
    margin: 0 0 0 10px;
    float: left;
}
.header-left1 ul li.active a {
    background: #6ea145;
    color: #fff;
}
.header-left1 ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 45px 30px;
    display: block;
}
.header-left1 ul li a i {
    font-size: 1em;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0.5em 0 0;
}
span.menu{display: none;}
img{vertical-align: middle;}

.header-right{
	float: right;
}
.header-right ul {
    padding: 4em 0 0;
}
.header-right ul li {
    display: inline-block;
}
.header-right ul li a.facebook{
    background: url(../img/img-sp.png) no-repeat -5px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.header-right ul li a.g{
    background: url(../img/img-sp.png) no-repeat -48px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.header-right ul li a.twitter{
    background: url(../img/img-sp.png) no-repeat -86px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.header-right ul li a.facebook:hover {
    background: url(../img/img-sp.png) no-repeat -5px -59px;
    display: block;
}
.header-right ul li a.g:hover {
    background: url(../img/img-sp.png) no-repeat -48px -58px;
    display: block;
}
.header-right ul li a.twitter:hover {
    background: url(../img/img-sp.png) no-repeat -86px -58px;
    display: block;
}
.banner-info {
    width: 65%;
    margin: 18em auto 0 22em;
}
.banner-info h1{
	color: #fff;
	font-size: 2.8em;
	margin: 0px;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}
.banner-info p {
    font-size: 14px;
    color: #DFDFDF;
    margin: 1em 0 2em;
    line-height: 1.8em;
    width: 80%;
}
.more a {
    font-size: 16px;
    color: #FFF;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #6ea145;
    font-family: 'Josefin Sans', sans-serif;
}
.more a:hover {
    color: #6ea145;
    background: #fff;
}
.banner-bottom {
    padding: 5em 0;
}
.banner-bottom-right h3{
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
.banner-bottom-right h4{
	margin: 1em 0;
    font-size: 15px;
}
.banner-bottom-right p{
    font-size: 14px;
   	line-height: 1.8em;
    margin: 0em 0 2em;
}
.banner-bottom-3grd{
	padding: 0 0 3em;
	-webkit-box-shadow: 1px 0px 1px #C0C0C0;
}
/*.banner-bottom-3grid h3{
    text-transform: capitalize;
    font-size: 1.5em;
    color: #9D4922 !important;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1em 0 0;
    font-weight: 500;
}
.banner-bottom-3grid p{
    color: #C7C7C7;
    font-size: 14px;
    margin: 1em 0 2em;
    line-height: 1.8em;
}*/
.m1 a:hover {
    background: #c6c5c0;
    color: #fff;
}
.keep-in-touch {
    padding: 5em 0;
    background-color: #E6E6E6;
}
.keep-in-touch-gridl h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    color: #6ea145;
    margin: 0;
}
.keep-in-touch-gridl p {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.keep-in-touch-gridr input[type="text"] {
    width: 80%;
    background: #fff;
    border: none;
    font-size: 14px;
    color: #A2A2A2;
    outline: none;
    padding: 14px 10px;
    float: left;
}
.keep-in-touch-gridr input[type="submit"] {
    width: 20%;
    float: left;
    background: url(../img/1.1.png) no-repeat 56px 11px #6ea145;
    outline: none;
    border: none;
    padding: 13px 0;
    text-align: center;
    transition: .5s all;
    -webkit-transition: .5s all;
}
.footer {
    padding: 4em 0;
    background-color: #242424;
}
.get_in_touch h3, .ftr_navi h3 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4em;
    margin-bottom: .5em;
    color: #fff;
}
.ftr_navi.ftr ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ftr_navi ul li {
    display: block;
}
.ftr_navi ul li a {
    display: block;
    padding: 5px 0;
    color: #848484;
    font-size: 14px;
}
.get_in_touch p {
    color: #848484;
    font-size: 14px;
    padding: 5px 0;
}
.get_in_touch a {
    color: #848484;
    font-size: 0.9em;
    text-decoration: none;
}
.ftr-logo a h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: #fff;
}
.ftr-logo a h3 span {
    font-size: 15px;
}
.ftr-logo ul{
	padding: 1em 0;
}
.ftr-logo ul li {
    display: inline-block;
}
.ftr-logo ul li a.f {
    background: url(../img/img-sp.png) no-repeat -5px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.ftr-logo ul li a.f1 {
    background: url(../img/img-sp.png) no-repeat -48px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.ftr-logo ul li a.f2 {
    background: url(../img/img-sp.png) no-repeat -86px -13px;
    display: block;
    height: 32px;
    width: 32px;
}
.ftr-logo ul li a.f:hover {
    background: url(../img/img-sp.png) no-repeat -5px -59px;
    display: block;
}
.ftr-logo ul li a.f1:hover {
    background: url(../img/img-sp.png) no-repeat -48px -58px;
    display: block;
}
.ftr-logo ul li a.f2:hover {
    background: url(../img/img-sp.png) no-repeat -86px -58px;
    display: block;
}
.ftr_navi ul li a:hover, .get_in_touch a:hover, .ftr-logo p a:hover {
    text-decoration: none;
    color: #fff;
}
.ftr-logo p {
    margin: 0em;
    color: #848484;
    line-height: 1.8em;
    font-size: 0.95em;
    font-family: 'Josefin Sans', sans-serif;
}
.ftr-logo a{
    color: #fff;
}